X-Mailer: Nagios/$VERSION$
Message-Id: $DATE$@$HOSTNAME$.nagios
In-Reply-To: $DATE$@$HOSTNAME$.nagios
To: "$CONTACTALIAS$" <$CONTACTEMAIL$>
Subject: Host $HOSTSTATE$ alert for $HOSTNAME$!

***** Nagios/$VERSION$ *****

Notification Type: $NOTIFICATIONTYPE$
Host: $HOSTNAME$
State: $HOSTSTATE$
Address: $HOSTADDRESS$
Info: $HOSTOUTPUT$

Date/Time: $LONGDATETIME$
