X-Mailer: Nagios/$VERSION$
To: $CONTACTPAGER$
Date: $LONGDATETIME$
From: $SERVICEDESC$@$HOSTNAME$.0
Subject: $SERVICESTATE$

Current state since: $SERVICEDURATION$
Last service OK: $(timestamp_date:$LASTSERVICEOK$)

#if "$NOTIFICATIONTYPE$" == "ACKNOWLEDGEMENT"
Acknowledged by $SERVICEACKAUTHOR$: $SERVICEACKCOMMENT$
#else
$SERVICEOUTPUT$
#endif
