X-Mailer: Nagios/$VERSION$
To: $CONTACTPAGER$
Date: $LONGDATETIME$
From: $SERVICEDESC$@$HOSTNAME$.0
Subject: $SERVICESTATE$

#if "$NOTIFICATIONTYPE$" == "ACKNOWLEDGEMENT"
Acknowledged by $SERVICEACKAUTHOR$: $SERVICEACKCOMMENT$
#else
$SERVICEOUTPUT$
#endif
