<a href="https://nagios.example.org/nagios/cgi-bin/extinfo.cgi?type=2&amp;host={{ HOSTNAME }}&amp;service={{ SERVICEDESC|urlencode }}" title="See service state information">{{ SERVICEDESC }}/{{ HOSTNAME }}</a> [<a href="https://nagios.dev.delfi.ee/nagios/cgi-bin/history.cgi?host={{ HOSTNAME }}&amp;service={{ SERVICEDESC|urlencode }}&amp;nosystem=on" title="See service event history log">log</a>] <strong>{{ NOTIFICATIONTYPE }}</strong>: {{ SERVICESTATE }} <kbd>{{ SERVICEOUTPUT }}</kbd>
